*{
    margin: 0;
    position: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{  
    text-align: center;
}

main{
    display: grid;
    place-items: center;
    height: 60vh;
    width: 100%;
    padding-top: 30px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(0, 128, 0, 0.3), rgba(255, 0, 0, 0.3));
    animation:  animation 10s linear infinite;
    background-size: 300%;
}

.user-main-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.user-info{
    padding: 5px;
    transition: color 0.2s ease;
}

.user-main-name{
    color: #000000b3;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

.user-main-email{
    font-style: italic;
}

.user-main-country{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(160, 17, 64);
    text-transform: uppercase;
}

.icon-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color:rgba(50, 205, 50, 0.342);
    border-radius: 20px;
    place-items: center;
    margin: 20px auto;
    width: 300px;
}

.icon{
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.15s ease, transform 0.15s ease ;
}

.icon:hover{
    color: rgb(243, 206, 41);
    transform: rotate(360deg);
}

.random-quote{
    margin-top: 30px;
    width: 400px;
    text-align: center;
}

/* users */

.users{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.3), rgb(0, 255, 255, 0.3), rgb(0, 128, 0, .2), rgb(255, 127, 80, 0.3));
}

.user{
    margin: 50px auto;
}

.user img{
    width: 200px;
    border-radius: 50%;
}

/* animation */
@keyframes animation{
    0%{
        background-position: 0% 0%;
    }

    50%{
        background-position: 50% 100%;
    }

    100%{
        background-position: 0% 0%;
    }
}